[client]
port		= 3306
socket		= /tmp/mysql.socket


[mysqld]
port                = 3306
socket		        = /tmp/mysql.socket
pid-file            = /var/run/mysql.pid
query_cache_size    = 16M
thread_cache_size   = 8

skip-locking
max_allowed_packet      = 1M
key_buffer_size         = 256M
table_open_cache        = 256
sort_buffer_size        = 1M
read_buffer_size        = 1M
read_rnd_buffer_size    = 4M
myisam_sort_buffer_size = 64M
thread_concurrency      = 8     #cpu * 2
binlog_format           = mixed
server-id	            = 1
bind-address            = 127.0.0.1

#log     = /var/log/mysql/mysql.log
#log     = /tmp/mysql.log
log-err = /var/log/mysql/error.log
#log-bin = mysql-bin


[mysqldump]
quick
max_allowed_packet = 16M


[mysql]
no-auto-rehash


[myisamchk]
read_buffer         = 2M
write_buffer        = 2M
key_buffer_size     = 128M
sort_buffer_size    = 128M


[mysqlhotcopy]
interactive-timeout
